In [ ]:
from my_libs_py3 import *

In [2]:
import cudf

In [4]:
data = get_price_data(["AAPL"], method = 'intraday')

All price data of Close is actually Adj Close
('Finished', 'AAPL')

In [7]:
cudata = cudf.from_pandas(data)

In [14]:
cudata["Open"].sum()

76767.7493

In [15]:
cudata["Open_Sum"] = cudata["Open"].sum()

In [25]:
cudata.Return = np.log(cudata.Open.shift(-1)/cudata.Open)

In [23]:
data.Return = np.log(data.Close.shift(-1)/data.Close)

In [53]:
cudata.apply_rows(min,"Close","Close_min")

TypeError: apply_rows() missing 1 required positional argument: 'kwargs'

In [2]:
mongod = mongo()

NameError: name 'mongo' is not defined

In [65]:
cudata["new"] =

In [66]:
cudata

,TimeStamp,Open,Low,High,Close,Volume,Ticker,Time,Return,Fwd_Return,Open_Sum,new
199,2020-07-02 14:30:00,366.5900,366.1900,366.9478,366.9478,20049587,AAPL,143000,0.000975546,0.000482786,"76,767.7493",366.9478
198,2020-07-02 15:00:00,366.9478,366.7600,367.2831,367.1250,21007659,AAPL,150000,-0.001603147,-0.001431054,"76,767.7493",367.125
197,2020-07-02 15:30:00,366.3600,366.2100,366.7600,366.6000,22195999,AAPL,153000,0.000654879,-0.005525329,"76,767.7493",null
196,2020-07-02 16:00:00,366.6000,363.9700,366.9700,364.5800,25438780,AAPL,160000,-0.006815316,-0.001289986,"76,767.7493",null
195,2020-07-06 09:30:00,364.1100,364.1100,364.1100,364.1100,28510367,AAPL,93000,0.020442716,0.024296647,"76,767.7493",null
...,...,...,...,...,...,...,...,...,...,...,...,...
4,2020-07-23 14:00:00,378.4695,373.2400,378.7500,373.7300,24495059,AAPL,140000,-0.021862509,-0.005913956,"76,767.7493",null
3,2020-07-23 14:30:00,370.2850,369.6550,371.7600,371.5263,30881938,AAPL,143000,0.003346676,0.002617382,"76,767.7493",null
2,2020-07-23 15:00:00,371.5263,370.5800,373.1800,372.5000,34683761,AAPL,150000,-0.007853353,-0.006815117,"76,767.7493",null
1,2020-07-23 15:30:00,368.6200,368.2400,370.7700,369.9700,39251374,AAPL,153000,0.003655618,0.004598702,"76,767.7493",null
0,2020-07-23 16:00:00,369.9700,368.7462,371.6753,371.6753,44582120,AAPL,160000,null,null,"76,767.7493",null